*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: black;
}
.nav-l{
    width: 80px;
    height: 70px;
}
.nav-l img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.nav-r{
    width: 25%;
}
.nav-r ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    font-size: 23px;
}
.nav-r ul li{
    color: #F2CF30;
    cursor: pointer;
}
.nav-r ul li:hover{
    cursor: pointer;
    transition: all linear 0.3s;
    transform: scale(0.9);
}   
.top-section{
    width: 100%;
    height: 90vh;
    background: url(primax-img/img1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    box-sizing: border-box;
}
.top-inner{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.381);
    justify-content: space-around;
}
.top-l{
   width: 40%; 
   height: 100%;
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.top-heading{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    height: 60%;
}
.top-heading h1{
    font-size: 2.5rem;
}
.top-heading h3{
    font-size: 1.4rem;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    width: fit-content;
    cursor: pointer;
    color: black;
    z-index: 1;
  }
  
  .button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button:hover {
    color: #F2CF30;
    border: 1px solid #F2CF30;
  }
  
  .button:hover:before {
    top: -35%;
    background-color: black;
    color: #F2CF30;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button:hover:after {
    top: -45%;
    background-color: black;
    color: #F2CF30;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  




.top-r{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    /* background-color: aliceblue; */
}
.top-r img{
    width: 100%;
    height: 100%;
    margin-left: 101%;
    object-fit: contain;
}

/* page 2 */

.page2{
    width: 100%;
    height: 100vh;
    background: url(primax-img/img3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.page2 h1{
    text-align: center;
}
.page2 h1 span{
    color: #F2CF30;
}
.page2-inner{
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    background-color: rgba(0, 0, 0, 0.427);
}
.page2-flex{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.page2-l{
    width: 50%;
    height: 100%;
    background: url(primax-img/img6-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.page2-l img{
    width: 90%;
    height: 90%;
    margin-left: 25px;
    object-fit: contain;
}
.page2-r{
    width: 40%;
    height: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
}
.page2-r h3{
    text-align: justify;
    line-height: 25px;
    color: white;
}